@charset "utf-8";

/* css 초기화 */

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input:focus-visible {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
  line-height: 1.5;
  font-family:Arial, Helvetica, sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

/* 헤더 영역 */

header {
  position: relative;
  width: 100%;
}

.logo {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #e60012;
  text-align: center;
  padding-top: 20px;
  z-index: 99999;
}

.logo > img {
  cursor: pointer;
}

.logo button {
  position: absolute;
  top: 0;
  height: 70px;
  right: 100px;
  display: flex;
  background-color: #e60012;
  cursor: pointer;
  padding-top: 20px;
}

.logo button a {
  position: relative;
  color: #ffffff;
  line-height: 30px;
  font-weight: bold;
  padding: 0 5px;
  font-size: 18px;
  transition: all 0.2s;
}

.logo button i {
  position: relative;
  width: 30px;
  margin: 0 5px;
  transition: all 0.2s;
}

.logo button:hover a {
  text-decoration: underline;
  color: #fe7c0a;
}

.logo button:hover i {
  color: #fe7c0a;
}

.logo i {
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

.logo > i {
  position: absolute;
  right: 50px;
}

.media-menu {
  display: none;
}

.search-wrap {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  transition: all 0.4s;
  overflow: hidden;
}

.search-wrap.on {
  height: 120px;
}

#search {
  position: relative;
  left: calc(50% - 300px);
  width: 600px;
  height: 200px;
  padding-top: 35px;
}

#search input {
  width: 520px;
  height: 45px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  padding-left: 15px;
  border: 2px solid #ddd;
}

#search button {
  position: relative;
  top: -1px;
  left: -4px;
  width: 75px;
  height: 44px;
  background-color: #e60012;
  color: #fff;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

#search button:hover {
  background-color: #fe7c0a;
}

.logo > i:nth-child(4) {
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
}

/* 네비게이션 영역 */

nav {
  position: relative;
  top: 70px;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

nav > ul {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 20%;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.menu > a {
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 1.1rem;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.menu:hover > a {
  color: #fe7c0a;
}

.submenu {
  position: relative;
  top: -1px;
  display: none;
  width: 100%;
  font-size: 15px;
  height: 310px;
  padding-top: 15px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
  overflow: hidden;
  z-index: 100;
}

.submenu > li {
  height: 50px;
}

.submenu > li > a {
  display: block;
  color: #666;
}

.submenu > li:hover > a {
  text-decoration: underline;
}

/* 반응형 네비게이션 */

.media-nav {
  display: none;
}

/* 슬라이더 영역 */

.slider-wrap {
  position: relative;
  top: 71px;
  width: 100%;
  height: 37vw;
  overflow: hidden;
}

.slider {
  width: 800%;
  position: relative;
}

.slider div {
  width: 100vw;
  height: 37vw;
  cursor: pointer;
  float: left;
}

.s1 {
  background-image: url(../images/s1.png);
  background-position: center;
  background-size: cover;
}

.s2 {
  background-image: url(../images/s2.jpg);
  background-position: center;
  background-size: cover;
}

.s3 {
  background-image: url(../images/s3.jpg);
  background-position: center;
  background-size: cover;
}

.s4 {
  background-image: url(../images/s4.jpg);
  background-position: center;
  background-size: cover;
}

.s5 {
  background-image: url(../images/s5.jpg);
  background-position: center;
  background-size: cover;
}

.s6 {
  background-image: url(../images/s6.jpg);
  background-position: center;
  background-size: cover;
}

.s7 {
  background-image: url(../images/s7.png);
  background-position: center;
  background-size: cover;
}

.s8 {
  background-image: url(../images/s8.jpg);
  background-position: center;
  background-size: cover;
}

.slider-page {
  position: relative;
  left: calc(50% - 120px);
  width: 240px;
  margin-top: 100px;
  height: 25px;
  text-align: center;
  display: flex;
}

.page {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #ddd;
  margin: 0 5px;
  cursor: pointer;
}

.page.on {
  background-color: #e60012;
}

/* 컨텐츠 영역 */

.contents {
  position: relative;
  top: 100px;
  left: calc(50% - 600px);
  width: 1200px;
}

/* 주요 소프트웨어 영역 */

.gametitle-wrap {
  width: 100%;
}

.gametitle-wrap > p {
  position: relative;
  left: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.gametitle-wrap > span {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #e60012;
  font-weight: bold;
  cursor: pointer;
}

.gametitle-wrap > a {
  position: absolute;
  right: 100px;
  top: 10px;
  background-color: #fe7c0a;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s;
}

.gametitle-wrap > span:hover {
  text-decoration: underline;
}

.gametitle-wrap > a:hover {
  background-color: #e60012;
}

.gametitle-con {
  width: 100%;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding-top: 20px;
}

.gametitle {
  width: 280px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.gametitle:hover .gametitle-text > p {
  text-decoration: underline;
}

.gametitle:hover .gametitle-img img {
  transform: scale(1.05);
  opacity: 0.8;
}

.gametitle-img {
  width: 100%;
  height: 160px;
}

.gametitle-img img {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.gametitle-text {
  width: 100%;
  color: #333;
}

.gametitle-text-switch {
  color: #e60012;
  font-size: 14px;
  margin: 10px 0;
}

.gametitle-red {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: #e60012;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.gametitle-text > p {
  height: 60px;
  font-size: 1.1rem;
  font-weight: bold;
}

.gametitle-text-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gametitle-text-bottom > p {
  font-size: 14px;
  color: #666;
}

.gametitle-text-bottom > span {
  height: 35px;
  margin-top: 5px;
  font-size: 14px;
  color: #e60012;
  border: 2px solid #e60012;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}

.media-plus {
  display: none;
}
/* 구입 배너 영역 */

.parchase-banner {
  position: relative;
  height: 140px;
  width: 100vw;
  background-image: url(../images/main_banner_eshop.gif);
  background-position: center;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  margin: 100px 0;
  cursor: pointer;
}

/* 홍보 */

.add {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translate(-50%);
  height: 700px;
  background-color: #e60012;
  overflow: hidden;
}

.add-logo {
  width: 100px;
}

.add-img {
  width: 1200px;
}

.add-hand {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 580px);
}

.add-switch {
  position: absolute;
  top: 0;
  left: calc(50% - 580px);
}

.add-img img {
  width: 750px;
}

.add-text {
  position: absolute;
  top: 80px;
  left: calc(50% + 180px);
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.add-text > p {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.add-text > p > span {
  background: url(../images/main_pic_displayOff.png);
  background-position: center;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  font-size: 3.6rem;
}

.add-text > span {
  font-size: 2rem;
  letter-spacing: 3px;
}

.add-text > h5 {
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 20px;
}

.add-text > div {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.add-text > h6 {
  font-size: 16px;
  margin-bottom: 50px;
}

.add-text > a {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
}

.add-text > a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* 뉴스 영역 */

.news-wrap {
  position: relative;
  margin-top: 100px;
  width: 100%;
  color: #333;
  padding-bottom: 100px;
}

.news-wrap > p {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
}

.news-wrap > span {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #e60012;
  font-weight: bold;
  cursor: pointer;
}

.news-wrap > span:hover {
  text-decoration: underline;
}

.news-con {
  width: 100%;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 20px 0;
}

.news:hover .news-text > p {
  text-decoration: underline;
}

.news:hover .news-img img {
  transform: scale(1.05);
  opacity: 0.8;
}

.news {
  width: 280px;
  margin: 0 10px;
  cursor: pointer;
  float: left;
}

.news-img {
  width: 100%;
}

.news-img img {
  width: 100%;
  transition: all 0.2s;
}

.news-text {
  width: 100%;
  margin-top: 10px;
}

.news-text span {
  display: block;
  font-size: 14px;
  color: #e60012;
  margin-bottom: 10px;
  font-weight: bold;
}

.news-text p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-text h6 {
  font-weight: 100;
  font-size: 14px;
  color: #666;
}

/* 푸터 영역 */

footer {
  position: relative;
  top: 100px;
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px;
}

footer > p {
  color: blue;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer > h5 {
  color: #666;
  height: 40px;
}

footer > h5 > span {
  color: #333;
}

footer > span {
  font-size: 14px;
  color: #666;
}

.amibo {
  position: absolute;
  right: 50px;
  top: 60px;
  width: 300px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.amibo img {
  width: 520px;
}

/* 반응형 미디어쿼리 */

@media (max-width: 1200px) {

  nav {
    display: none;
  }

  .media-menu {
    display: block;
    position: absolute;
    top: 15px;
    font-size: 1.6rem;
    left: 50px;
    cursor: pointer;
  }

  .slider-wrap {
    top: 70px;
  }

  .media-nav {
    position: fixed;
    top: 70px;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  }

  .media-nav > li {
    position: relative;
    width: 100%;
    color: #333;
    font-weight: bold;
  }

  .media-nav > li > a {
    display: block;
    padding: 20px 50px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
  }

  .media-nav > li:hover > a {
    color: #e60012;
  }

  .media-nav-icon {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 50px;
    font-size: 1.2rem;
    transition: all 0.2s;
  }

  .media-nav > li.on {
    border-bottom: 1px solid #ddd;
  }

  .media-nav > li.on > a > span > i {
    transform: rotateZ(180deg);
  }

  .media-nav > li.on > a {
    color: #e60012;
  }

  .media-nav-sub {
    background-color: #f7f7f7;
    display: none;
  }

  .media-nav-sub > li {
    width: 100%;
  }

  .media-nav-sub a {
    display: block;
    padding: 15px 50px;
  }

  .media-nav-sub a:hover {
    text-decoration: underline;
  }

  .contents {
    width: 100%;
    left: 0;
  }

  .gametitle {
    width: 23%;
    overflow: hidden;
    margin: 0 1%;
    margin-bottom: 30px;
  }
  
  .gametitle-img {
    width: 100%;
    height: 100%;
  }

  .gametitle-text-switch span {
    display: none;
  }

  .gametitle-text-switch span:first-child {
    display: block;
  }

  .gametitle-text > p {
    font-size: 16px;
  }

  .gametitle-text-bottom {
    display: none;
  }

  .add {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    height: 60vw;
    background-color: #e60012;
    padding: 20px;
    overflow: hidden;
  }

  .add-logo {
    display: none;
  }

  .add-img img {
    width: 65vw;
  }
  
  .add-hand {
    position: absolute;
    bottom: -1vh;
    left: 0;
  }
  
  .add-switch {
    position: absolute;
    left: 10px;
  }

  .add-text {
    top: 50%;
    transform: translateY(-50%);
    left: 65%;
  }
  
  .add-text > p {
    font-size: 3vw;
    margin-bottom: 1.5vh;
  }
  
  .add-text > p > span {
    font-size: 6vw;
  }
  
  .add-text > span {
    font-size: 1.5vw;
  }
  
  .add-text > h5 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 1.5vh;
  }
  
  .add-text > div {
    display: none;
  }
  
  .add-text > h6 {
    font-size: 16px;
    margin-bottom: 1.5vh;
  }
  
  .add-text > a {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: bold;
  }
  
  .news {
    width: 23%;
    margin: 0 1%;
  }

  .news-img img {
    height: 100%;
  }

  .news-text > p {
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
  }

}

@media (max-width:800px) {

  .logo button a {
    display: none;
  }

  .search-wrap.on {
    width: 100%;
    height: 120px;
  }
  
  #search {
    position: relative;
    top: 35px;
    left: 0;
    width: 100%
  }
  
  #search input {
    position: relative;
    top: -30px;
    left: calc(50% - 38%);
    width: 63%;
  }
  
  #search button {
    position: relative;
    top: -31px;
    left: calc(50% - 38.8%);
    width: 75px;
    height: 44px;
    background-color: #e60012;
    color: #fff;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  #search button:hover {
    background-color: #fe7c0a;
  }

  .slider-wrap {
    height: 100vw;
  }

  .slider div {
    width: 100vw;
    height: 83vw;
  }

  .page {
    display: none;
  }
  
  .s1 {
    background-image: url(../images/ms1.png);
  }

  .s2 {
    background-image: url(../images/ms2.jpg);
  }

  .s3 {
    background-image: url(../images/ms3.jpg);
  }

  .s4 {
    background-image: url(../images/ms4.jpg);
  }

  .s5 {
    background-image: url(../images/ms5.jpg);
  }

  .s6 {
    background-image: url(../images/ms6.jpg);
  }

  .s7 {
    background-image: url(../images/ms7.png);
  }

  .s8 {
    background-image: url(../images/ms8.jpg);
  }

  .contents {
    top: -100px;
  }

                                .gametitle-wrap>a {
                                  display: none;
                                }
  .gametitle {
    width: 48%;
    overflow: hidden;
    margin: 10px 1%;
  }

  .media-delete {
    display: none;
  }

  .gametitle-text > p {
    font-size: 1.2rem;
  }

  .add-text {
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
  }

  .add-text > span {
    display: none;
  }
  
  .add-text > h5 {
    display: none;
  }

  .news {
    width: 48%;
    margin: 0 1%;
  }

  .news-img img {
    height: 100%;
  }

  .news-text > p {
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
  }

  footer {
    top: 0px;
    margin-top: -100px;
  }

  .amibo {
    display: none;
  }

}
/* 모바일용 반응형 페이지 */

@media (max-width: 480px) {
  
  .logo > i {
    position: absolute;
    right: 20px;
  }
  
  .logo > i:nth-child(4) {
    right: 20px;
  }
  .logo button i {
    right: -40px;
  }

  .media-menu {
    left: 20px;
  }

  .gametitle-wrap > p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .gametitle-wrap > span {
    display: none;
  }

  .gametitle {
    width: 90%;
    margin: 0 5%;
  }

  .gametitle-text > p {
    font-size: 16px;
  }

  .media-plus {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #e60012;
  }

  .media-plus:hover {
    opacity: 0.6;
  }

  .add {
    cursor: pointer;
  }

  .add-text {
    left: 57%;
  }

  .add-text > p {
    font-size: 1.2rem;
  }

  .add-text > span,h6 {
    display: none;
  }

  .news-wrap > p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .news-wrap > span {
    display: none;
  }

  .news-con {
    padding-bottom: 0;
  }

  .news {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 20px;
  }

  .news-text > p {
    font-size: 16px;
  }

}